**/nasa_population-data
./*/*.grd
./.git/objects/3e/5b457843decda4db3796b96f2e619c3ecfbf00
./.git/objects/f7/62ad2b45cb1851a65b26a87fcee7195028682a
./overview-fig/nasa_population-data/gpw-v4-population-density-rev11_2020_30_sec_tif/gpw_v4_population_density_rev11_2020_30_sec.tif
./overview-fig/nasa_population-data/gpw-v4-population-density-rev11_2020_30_sec_tif.zip
